<?php

return [
    'caption' => 'Заявки на обратный звонок',

    'fields' => [
        'name' => [
            'caption' => 'ФИО',
        ],
        'phone' => [
            'caption' => 'Телефон',
        ],
    ],
];
